.media {
	.media-left {
		max-width: 40px;
		padding: 0;
		text-align: center;
		float: left;
	}
	.media-body {
		font-size: 18px;
		padding-left: 16px;
		line-height: 28px;
		color: #151515;
		font-weight: 400;
	}
}